* {
  font-family: "Garamond", "Georgia", "Times New Roman", serif;
}

img {
  height: auto;
  width: 400px;
}

#bulgogi .description,
#bulgogi .ingredients,
#bulgogi .steps,
#pasta .description,
#pasta .ingredients,
#pasta .steps,
#goulash .description,
#goulash .ingredients,
#goulash .steps {
  color: hsl(223, 61%, 56%);
  background-color: rgba(127, 248, 212, 0.289);
}

#bulgogi .description.text,
#bulgogi .ingredients.text,
#bulgogi .steps.text,
#pasta .description.text,
#pasta .ingredients.text,
#pasta .steps.text,
#goulash .description.text,
#goulash .ingredients.text,
#goulash .steps.text {
  color: rgb(3, 53, 79);
  background-color: honeydew;
  font-size: 15px;
  font-weight: 300;
}

.main-container {
  background-color: wheat;
  border-style: outset;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin: 16px auto;
  padding: 8px;
  text-align: center;
  width: 800px;
}

.main-heading {
  color: rgb(65, 71, 3);
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline overline #FF3028;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

a {
  text-decoration: none;
}

.recipe-button {
  border: dashed rgb(146, 168, 92);
  font-size: 30px;
  font-weight: 100;
  margin: 24px 16px;
  text-shadow: 1px 1px 2px rgb(235, 97, 33), 0 0 1em blueviolet, 0 0 0.2em tomato;
}