/*
  all CSS selectors that I want to apply:
  - universal selector
  - type selectors
  - class selectors
  - ID selectors
  - group selectors
  - chain selectors
  - descendant combinator

  all CSS properties that I want to apply:
  - background-color
  - color
  - font-family
  - font-size
  - font-weight
  - text-align
  - height
  - width
 */

* {
  font-family: "Garamond", "Georgia", "Times New Roman", serif;
  background-color: honeydew;
  text-align: justify;
}

img {
  height: auto;
  width: 400px;
}

.add-heading-color {
  color: rgb(77, 18, 255);
}